


@EventHandler
  public void LogowanieGraczaDolaczenieDoGry (PlayerJoinEvent e) { //metoda która wykonuje daną rzecz przy dołączeniu graczy.\
    Player p = e.getPlayer(); //zmienna pobiera gracza z eventu przypisuje do liczby = p
      e.setJoinMessage(ChatColor.DARK_AQUA + "Gracz  + p.getName() +  "dolaczyl do gry "); //wyswietlanie zmiennienie setJoinMessage.
      
@EventHandler
